
<td colspan="7">
    <form>
        <div style="border:3px solid black;">
            <table>
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td><input name="field-staff" type="text" value="{{commission.field-staff}}"></td>
                    <td><input name="call-center" type="text" value="{{commission.call-center}}"></td>
                    <td><input name="driver" type="text" value="{{commission.driver}}"></td>
                    <td><input name="depot-manager" type="text" value="{{commission.depot-manager}}"></td>
                    <td><input type="submit"></td>
                    <!--
                    <td><a class="commission-update" href="#">Update</a></td>
                    -->
                </tr>
            </table>
        </div>
    </form>
</td>
