<h2>Stock information for {{depot.name}}</h2>
{{#if item}}
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Actual</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        {{#each item}}
        <tr>
            <td>{{productName}}</td>
            <td>{{actual}}</td>
            <td>{{available}}</td>
        </tr>
        {{/each}}
     </tbody>
</table>
{{else}}
No stock availability information available.
{{/if}}

