{{#when complaint}}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        {{#each complaint}}
        <tr>
            <td>{{id}}</td>
            <td><a href="#complaint/{{id}}">{{description}}</a></td>
            <td>{{#if resolved}}{{resolved}}{{else}}Unresolved{{/if}}</td>
            <td>{{customer}}</td>
        </tr>
        {{/each}}
     </tbody>
</table>
{{else}}
No complaints.
{{/when}}
