{{#when item}}
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Actual</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        {{#each item}}
        <tr>
            <td>{{productName}}</td>
            <td>{{actual}}</td>
            <td>{{available}}</td>
        </tr>
        {{/each}}
     </tbody>
</table>
{{else}}
No stock availability information available.
{{/when}}
<a href="#stock/add/depot/{{depotId}}">Add stock</a> | 
<a href="#stock/adjust/depot/{{depotId}}">Make stock adjustment</a> |
<a href="#stock/report/depot/{{depotId}}">Report damaged stock</a>

