<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Vehicle</th>
        </tr>
    </thead>
    <tbody>
        {{#each driver}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{username}}</td>
            <td>{{#if vehicle}}<a href="#!d/vehicle/{{vehicle.id}}">{{vehicle.regNo}}</a>{{/if}}</td>
        </tr>
        {{/each}}
     </tbody>
</table>

