
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Field Staff</th>
            <th>Call Center</th>
            <th>Driver</th>
            <th>Depot Manager</th>
        </tr>
    </thead>
    <tbody>
        {{#each product}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{commission.field-staff}}</td>
            <td>{{commission.call-center}}</td>
            <td>{{commission.driver}}</td>
            <td>{{commission.depot-manager}}</td>
            <td><a data-id="{{id}}" class="commission-edit" href="javascript:">Edit</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#each paginator}}
{{#unless current}}
<a href="#commissions/{{page}}">{{page}}</a>
{{else}}
{{page}}
{{/unless}}
|
{{/each}}
