{{#when driver}}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Vehicle</th>
            <th>Depot</th>
        </tr>
    </thead>
    <tbody>
        {{#each driver}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td><a href="#user/{{id}}">{{username}}</a></td>
            <td>{{#if vehicle}}<a href="#vehicle/{{vehicle.id}}">{{vehicle.regNo}}</a>{{/if}}</td>
            <td><a href="#depot/{{depot.id}}">{{depot.name}}</a></td>
        </tr>
        {{/each}}
     </tbody>
</table>
{{else}}
No drivers.
{{/when}}
