{{#if contact}}
<table>
{{#each contact}}
<tr>
    <td>{{kind}}</td>
    <td>{{datum}}</td>
    <td>{{meta}}</td>
    <td><a href="#contact/{{id}}/edit">Edit</a></td>
    <td><a href="#contact/{{id}}/delete">Delete</a></td>
{{/each}}
</table>
{{else}}
- No contacts -
{{/if}}
<a href="#contact/customer/{{id}}/create">Add a contact</a>

