<h1>Customer information</h1>
<h2>{{name}}</h2>
<div>
Area:    {{areaName}}
</div>
<div>
Street:    {{address}}
</div>
<div>
Created:    {{created}}
</div>
<div>
Price cat:    {{priceCategory}}
</div>
<div>
Lat:    {{latitude}}
</div>
<div>
Long:    {{longitude}}
</div>
<div>
TIN:    {{tin}}
</div>
<!--
contacts

{{#if contact}}
<table>
{{#each contact}}
<tr>
    <td>{{kind}}</td>
    <td>{{datum}}</td>
    <td>{{meta}}</td>
    <td><a href="#contact/{{id}}/edit">Edit</a></td>
    <td><a href="#contact/{{id}}/delete">Delete</a></td>
{{/each}}
</table>
{{else}}
- No contacts -
{{/if}}
</div>
<a href="#customer/edit/{{id}}">Edit customer</a> | <a href="#contact/customer/{{id}}/create">Add a contact</a>
<a href="#complaints/customer/{{id}}">Complaint history</a>
<a href="#activity/customer/{{id}}">Call activity</a>
<a href="#service-complaint/create/customer/{{id}}">Register service complaint</a>
<a href="#quality-complaint/create/customer/{{id}}">Register quality complaint</a>
-->
<br>
<br>

<a href="#customer/{{id}}/tab/orders">Orders</a><br>
<div id="customer-orders"></div>

<a href="#customer/{{id}}/tab/contacts">Contact details</a><br>
<div id="customer-contacts"></div>

<a href="#customer/{{id}}/tab/complaints">Complaints</a><br>
<div id="customer-complaints"></div>

<a href="#customer/{{id}}/tab/activity">Call activity</a><br>
<div id="customer-activity"></div>

