{{#if depot}}
<h2>Create area in {{regionName}} region</h2>
<input type="text" name="name">
<select name="depot">
    {{#each depot}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>
<input type="submit">
{{else}}
This region does not have any depots.
<a href="#depot/create/region/{{regionId}}">Create a depot</a>
{{/if}}

