<table
    <tr>
        <td>Vehicle</td>
        <td><a href="#!q/vehicle/{{vehicleId}}">{{vehicleRegNo}}</a></td>
    </tr>
    <tr>
        <td>Depot</td>
        <td>{{depotName}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{status}}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{created}}</td>
    </tr>
    <tr>
        <td>Driver</td>
        <td>{{driverName}}</td>
    </tr>
</table>

