{{#when order}}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each order}}
        <tr>
            <td>{{id}}</td>
            <td>{{customerName}}</td>
            <td>{{created}}</td>
            <td><input data-id="{{id}}" class="load-order-item" type="checkbox"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
No orders.
{{/when}}
