<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Navigate</th>
            <th>Street</th>
            <th>TIN</th>
            <th>Phone</th>
            <th>Active</th>
            <th>Price class</th>
            <th>Area</th>
        </tr>
    </thead>
    <tbody>
        {{#each customer}}
        <tr>
            <td>{{id}}</td>
            <td><a href="#!f/customer/{{id}}">{{name}}</a></td>
            <td><a href="https://maps.google.com/?saddr=mylocation&daddr={{latitude}},{{longitude}}">Navigate</a></td>
            <td>{{streetAddress}}</td>
            <td>{{tin}}</td>
            <td>{{phone}}</td>
            <td>{{isActive}}</td>
            <td>{{priceCategory}}</td>
            <td>{{areaName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

