<h2>Edit contact for customer {{customerName}}</h2>
<select name="kind">
    {{#each contactType}}
    <option value="{{@key}}">{{.}}</option>
    {{/each}}
</select>

<div>
Contact
<input type="text" name="datum" value="{{datum}}">
</div>

<div>
Comment
<input type="text" name="meta" value="{{meta}}">
</div>

<div>
<input type="submit">
</div>
