<h2>Edit product</h2>
<div>
    <input type="text" name="name" value="{{name}}">
</div>
<div>
<input type="text" name="unit-size" value="{{unitSize}}">
</div>
<div>
<textarea name="description">{{description}}</textarea>
</div>

<div>
Deleted?
<input type="checkbox" name="deleted">
</div>

<h2>Prices</h2>
{{#each priceCategory}}
<div>
    {{name}}
    <input type="text" name="price-{{id}}" value="" data-id="{{id}}">
</div>
{{/each}}
<h2>Load limits</h2>
{{#each weightCategory}}
<div>
    {{name}}
    <input type="text" name="limit-{{id}}" value="" data-id="{{id}}">
</div>
{{/each}}


<div>
<input type="submit">
</div>

