{{#when product}}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Size</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each product}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{unitSize}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/when}}
