<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Street</th>
            <th>TIN</th>
            <th>Phone</th>
            <th>Active</th>
            <th>Price class</th>
        </tr>
    </thead>
    <tbody>
        {{#each customer}}
        <tr>
            <td>{{id}}</td>
            <td><a href="#!c/customer/{{id}}">{{name}}</a></td>
            <td>{{latitude}}:{{longitude}}</td>
            <td>{{streetAddress}}</td>
            <td>{{tin}}</td>
            <td>{{phone}}</td>
            <td>{{isActive}}</td>
            <td>{{priceCategoryName}}</td>
            <td><a href="#!c/customer/edit/{{id}}">Edit</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

